
  
  .container{
    width:80%;
    margin:auto;
    overflow:hidden;
  }
  
  
  .dark{
    padding:15px;
    background:#35424a;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
  }
  
  /* Sidebar */
  aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;
  }
  
  aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:5px;
  }
  
  /* Main-col */
  article#main-col{
    float:left;
    width:65%;
  }
  
  
  
  /* Media Queries */
  @media(max-width: 768px){
    article#main-col,
    aside#sidebar{
      float:none;
      text-align:center;
      width:100%;
    }
  }
  