form.sign-up-form {
    opacity: 0;
    z-index: 1;
}

form.sign-in-form {
    z-index: 2;
}

.logintitle {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 10px;
}

.login-input-field {
    max-width: 500px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.login-input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}

.login-input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.login-input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.btn {
    width: 150px;
    background-color: #f70642;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: #12ebbc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.wave {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button {}

.login-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

form {
    width: 360px;
}

.login-content img {
    height: 100px;
}

.login-content h2 {
    margin: 15px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-bottom: 30px;
}

.check input {
    margin-left: 10px;
    margin-top: 15px;
}

.check input label:hover {
    color: #d3385f;
}

.check a {
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
    margin-top: -20px;
    margin-left: 100px;
}

.check a:hover {
    color: #d3385f;
}

.xz a {
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
    margin-left: -110px;
}

@media screen and (max-width: 1050px) {
    .container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }
    .login-content h2 {
        font-size: 1.5rem;
        margin: 8px 0;
        margin-bottom: 30px;
    }
    .img img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        display: fixed;
    }
    .img {
        display: none;
    }
    .wave {
        display: none;
    }
    .login-content {
        justify-content: center;
        margin-left: 10px;
        margin-top: -50px;
    }
    .check a {
        margin-left: 10px;
    }
}